header {
  width: 100%;
  background-color: #4b4b4b;
  position: fixed;
  bottom: 0;
  nav {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .menu__center__option {
      display: inline-block;
      width: 25%;
      transition: 300ms;
      border-radius: 40px;
      &:hover {
        background-color: #6b6b6b;
        a {
          color: plum;
        }
      }
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        color: whitesmoke;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 14px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}