.product{
    width: 100%;
    padding: 20px;
    background-color: #2b2b2b;
}
.product__center{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    article{
        width: 100%;
        height: fit-content;
        margin: 10px 0;
        h2{
            text-align: center;
            color:whitesmoke;
            text-shadow: 0px 0px 10px ;
            margin: 10px;
        }
        p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 25px;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 80%;
            margin: 15px auto;
            padding-bottom: 5px;
            color: whitesmoke;
            border-bottom: 1px solid #ffffff34;
        }
        img{
            width: 50%;
            display: block;
            margin: 10px auto;
            border-radius: 20px;
            filter: drop-shadow(0px 0px 17px white);
            transition: 300ms;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
    }
}